<p class="main_menu_select">Інформація про сайт та поновлення</p>
<p class="main_menu_select">Для коректної роботи завантаження файлів на сервер (upload) рекомендовані однакові значення для ліміту на завантаження і розміру POST-запиту, а також ліміту часу виконання PHP скрипта і часу отримання POST-запиту.</p>
