<!-- @form -->
<script type="text/javascript">
    $(function() {
        $( "#date" ).datepicker({
            dateFormat:"dd.mm.yy"
        });
    });

    function validateTime(value) {
        return /^[0-2]?[0-9]:[0-5]?[0-9]:[0-5]?[0-9]$/.test(value);
    }

    function validateDate(value) {
        return /^[0-3]?[0-9]\.[0-1]?[0-9]\.[1-2][0-9][0-9][0-9]$/.test(value);
    }

    function submitMyForm()
    {
        if (validateDate($('#date').val()) && validateTime($('#time').val()))
            return form_submit_include_content();
        else
        {
            santaShowPopupHint('Error', '[#news_error_incorrect_datetime#]',0);
            return false;
        }
    }
    
	//выбор страницы из структуры
    $('[data-rel="pageselect"]').click(function (e) {
		var input = $(this).parent().find('input');
		showPageSelector('#'+input.attr('id'));
    });
	//выбор файла на сервере
	$('[data-rel="fileselect"]').click(function (e) {
		var input = $(this).parent().find('input');
		openKCFinder(input, "files");
	});
	//выбор изображения на сервере
	$('[data-rel="imageselect"]').click(function (e) {
		var input = $(this).parent().find('input');
		openKCFinder(input, "images");
	});
    $('#tags_input').on('keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) { 
            e.preventDefault();
            $.ajax({
                url: '/admin/index.php?action=set_left_menu&leftmenu=add_tag',
                type: 'POST',
                data: {
                    id: $('form #post_id').val(),
                    tag: $('form #tags_input').val()
                },
                success: function(data) {
                    $('form #tags_list').append(data);
                    $('form #tags_input').val('');
                }
            });
            return false;
        }
    });
    $("#tags_input").autocomplete({
        source: "/admin/index.php?action=set_left_menu&leftmenu=quicksearch_tags",
        minLength: 2,
        select: function( event, ui ) {
            if (ui.item) {
                console.log();
                $.ajax({
                    url: '/admin/index.php?action=set_left_menu&leftmenu=add_tag',
                    type: 'POST',
                    data: {
                        id: $('form #post_id').val(),
                        tag: ui.item.label
                    },
                    success: function(data) {
                        $('form #tags_list').append(data);
                        $('form #tags_input').val('');
                    }
                });
            }
        }
    });
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#news_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">

            <h3>Форма добавления/редактирования новости</h3>

            <form action="%form_action%" method="POST" enctype="multipart/form-data">
                <input id="post_id" type="hidden" name="values[id]" value="%id%">

                <fieldset>
                    <div style="padding:0 0 5px; 0">
                        <input id="mod_news_1" type="checkbox" name="values[available]" value="1" %available%>&nbsp;<label for="mod_news_1" style="width:110px;">[#news_property_available_label#]</label>
                        <input id="mod_news_2" type="checkbox" name="values[lenta]" value="1" %lenta%>&nbsp;<label for="mod_news_2" style="width:120px;">[#news_property_lenta_label#]</label>
                        <input id="mod_news_3" type="checkbox" name="values[delivery]" value="1" %delivery%>&nbsp;<label for="mod_news_3" style="width:140px;">[#news_property_delivery_label#]</label>
                        <input id="mod_news_4" type="checkbox" name="values[rss]" value="1" %rss%>&nbsp;<label for="mod_news_4" style="width:110px;">[#news_property_rss_label#]</label>
                        <div class="clear"></div>
                    </div>
                </fieldset>

                <fieldset>
                    <label for="date" style="width:150px;">[#news_property_date_label#]</label>
                    <input id="date" style="width:130px; margin-right:15px;" type="text" name="values[date]" value="%date%">
                    <label for="time" style="width:150px;">[#news_property_time_label#]</label>
                    <input id="time" style="width:130px;" type="text" name="values[time]" value="%time%">
                </fieldset>

                <fieldset>
                    <label for="header" style="width:150px;">[#news_property_header_label#]</label>
                    <input type="text" style="width:455px;" id="header" name="values[header]" value="%header%">
                </fieldset>

                <fieldset>
                    <label for="description_short" style="width:150px;">[#news_property_description_short_label#]</label>
                    <textarea id="description_short" style="width:455px; height:75px;" name="values[description_short]" rows="" cols="">%description_short%</textarea>
                </fieldset>

                <fieldset>
                    <div style="display:block; width:635px; clear:both;">
                        %description_full%
                    </div>
                </fieldset>
                
                %taxonomy_cats%
                
                %taxonomy_tags%
                
                <fieldset>
                    <label for="author">[#news_property_author_label#]</label>
                    <input type="text" id="author" name="values[author]" value="%author%">
                </fieldset>

                <fieldset>
                    <label for="source_name">[#news_property_source_name_label#]</label>
                    <input type="text" id="source_name" name="values[source_name]" value="%source_name%">
                </fieldset>

                <fieldset>
                    <label for="source_url">[#news_property_source_url_label#]</label>
                    <input type="text" id="source_url" name="values[source_url]" value="%source_url%">
                </fieldset>

                <fieldset>
                    <label for="image">[#news_property_image_label#]</label>
                    <input type="file" style="float:left;" size="31" id="image" name="image" value="%image%">
                    <span style="float:left; margin-left:15px;">%image_block%</span>
                </fieldset>
                
				%custom_fields%
                
				<h3 style="margin-top:30px;">[#news_property_seo_label#]:</h3>
                <fieldset>
                    <label for="html_title" style="width:150px;">[#news_property_html_title_label#]</label>
                    <div style="clear: both;"></div>
                    <textarea style="width:455px;" id="html_title" name="values[html_title]">%html_title%</textarea>
                </fieldset>

                <fieldset>
                    <label for="meta_keywords" style="width:150px;">[#news_property_meta_keywords_label#]</label>
                    <div style="clear: both;"></div>
                    <textarea style="width:455px;" id="meta_keywords" name="values[meta_keywords]">%meta_keywords%</textarea>
                </fieldset>

                <fieldset>
                    <label for="meta_description" style="width:150px;">[#news_property_meta_description_label#]</label>
                    <div style="clear: both;"></div>
                    <textarea style="width:455px;" id="meta_description" name="values[meta_description]">%meta_description%</textarea>
                </fieldset>

                <fieldset class="page_submit_field">
                    <input type="submit" name="submit" value="[#news_submit_label#]" onclick="return submitMyForm();">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- @image -->
<img src="%image_url%" width="100px" height="75px"><br><input id="remove_image" type="checkbox" name="values[remove_image]">&nbsp;<label style="width:70px;" for="remove_image">Удалить</label>
<!-- @taxonomy_cats -->
                <fieldset>
                    <label for="cats_list">[#news_property_cats_list_label#]</label>
                    <select id="cats_list" name="values[cat]">
                        <option>[#news_property_options_default#]</option>
                        %cats_list%
                    </select>
                </fieldset>
<!-- @taxonomy_tags -->
                <fieldset>
                    <label for="tags_input">[#news_property_tags_list_label#]</label>
                    <input type="text" id="tags_input" name="values[tag]" value="">
                    <ul id="tags_list" class="tags-list">
                        %tags_list%
                    </ul>
                </fieldset>
<!-- @custom_fields -->
<h3 style="margin-top:30px;">[#news_menu_custom_fields#]:</h3>
%fields_list%
<!-- @field_type_string -->
<fieldset>
	<label for="%field_id%">%field_title%:</label>
	<input id="%field_id%" name="%field_name%" type="text" value="%field_value%" />
</fieldset>
<!-- @field_type_textarea -->
<fieldset>
	<label for="%field_id%">%field_title%:</label>
	<textarea id="%field_id%" name="%field_name%" style="width:270px; height:75px;">%field_value%</textarea>
</fieldset>
<!-- @field_type_select -->
<fieldset>
	<label for="%field_id%">%field_title%:</label>
	<select name="%field_name%" id="%field_id%">
		<option value="0">[#news_custom_fields_empty#]</option>
		%options%
	</select>
</fieldset>
<!-- @field_type_select_options -->
		<option value="%field_value%"%selected%>%field_value%</option>
<!-- @field_type_checkbox -->
<fieldset>
	<table style="width:100%;">
		<tr>
			<td align="left" style="width:310px;"><label style="width:100%;">%field_title%:</label></td>
			<td>
				%options%
			</td>
		</tr>
	</table>
</fieldset>
<!-- @field_type_checkbox_options -->
	<div style="clear:both;">
		<input type="checkbox" name="%field_name%[%field_value%]"%checked%><label>%field_value%</label><br>
	</div>
<!-- @field_type_date -->
<fieldset>
	<label for="%field_id%">%field_title%:</label>
 <input type="text" name="%field_name%" id='%field_id%' value="%field_value%">
</fieldset>
<script type='text/javascript'>
    $(function() {
        $("#%field_id%").datepicker({
            dateFormat:"yy/mm/dd 00:00:00"
        });
    });
</script>
<!-- @field_type_pagesite -->
<fieldset>
    <label for="%field_id%">%field_title%:</label>
    <input type="text" id="%field_id%" name="%field_name%" value="%field_value%" style="margin-right:5px;" placeholder="Не выбрано...">
    <span class="ui-icon ui-icon-folder-open" style="cursor: pointer; margin-top:5px;" data-rel="pageselect"></span>
</fieldset>
<!-- @field_type_fileselect -->
<fieldset>
    <label for="%field_id%">%field_title%:</label>
    <input type="text" name="%field_name%" value="%field_value%" style="margin-right:5px;" id="%field_id%" placeholder="Не выбрано...">
    <span class="ui-icon ui-icon-folder-open" style="cursor: pointer; margin-top:5px;" data-rel="fileselect"></span>
</fieldset>
<!-- @field_type_imageselect -->
<fieldset>
    <label for="%field_id%">%field_title%:</label>
    <input type="text" name="%field_name%" value="%field_value%" style="margin-right:5px;" id="%field_id%" placeholder="Не выбрано...">
    <span class="ui-icon ui-icon-folder-open" style="cursor: pointer; margin-top:5px;" data-rel="imageselect"></span>
</fieldset>