<!--
Шаблон вывода случайного изображения галереи

Содержит секции и переменные:

@content - основной блок контента галереи, который содержит листинг изображений (@rows), выводится в случае, если запрошена категория галереи или в галереи нет ни одной категории
@rows - блок контента строки изображения галереи для каждого изображения галереи
@no_data - блок контента, который выводится в случае, если галерея пуста 

Произвольные поля (отрабатываются только в секции @rows):
%custom_field%, %custom_field_value% -  Перменная, которая содержит произвольно поле
@custom_field - блок, который выводится вместо метки произвольного поля
@custom_field_null - блок, который выводится вместо метки произвольного поля, которое не содержит данных

Note: Под `custom_field` подразумевается идентификатор произвольного поля указанный в АИ.

 -->

<!-- @content -->
%rows%

<!-- @rows -->
<div>
        <a href="%link_big_image%" class="fancybox"><img src="%link_small_image%" title="%title_image%" alt="%title_image%"/></a>
        <br/>%name_image%
        <br/>%title_image%
        <br/>%description%
        <br/>%custom_field_1%
        <br/>%custom_field_2%
</div>

<!-- @custom_field_1 -->
%custom_field_1_value%

<!-- @custom_field_1_null -->

<!-- @custom_field_2 -->
%custom_field_2_value%

<!-- @custom_field_2_val -->
%setvalue%

<!-- @custom_field_2_null -->

<!-- @no_data -->
<p>Галерея пуста</p>




