<!--@option_group_add -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span> &rarr; Добавить группу <вариаций></вариаций> </span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>Добавить/Редактировать группу вариаций для товарной группы</h3>

            <form action="%form_action%" method="POST" id="save_group_form"  enctype="multipart/form-data" >

                <table class="container" style="margin-bottom:0;">
                    <tr>
                        <th style="max-width:250px; text-align:left;">Название группы</th>
                        <th>[#catalog_item_edit_table_value_label#]</th>
                    </tr>

                    <tr>
                        <td align="left" valign="middle"><b>Название группы:</b></td>
                        <td align="center"><input name = "group_title" type="text" value = "%group_title%"></td>
                    </tr>

                    <tr>
                        <td colspan="2">

                            <input type="button" value = "Сохранить"  onclick="santaFormSubmit('save_group_form')" />

                        </td>

                    </tr>
                </table>
            </form>

        </div>
    </div>


</div>
