<!-- @form -->
<h2>Оформление заказа</h2>
<form action="%order_link%" method="post">
<table>
	<tr>
		<th colspan="4"></th>
	</tr>
    <tr>
        <td>Полное имя <sup>*</sup></td>
        <td><input type="text" name="name" value="%name_value%"></td>
    </tr>

    <tr>
        <td>Email <sup>*</sup></td>
        <td><input type="text" name="email" value="%email_value%"></td>
    </tr>


    <tr>
        <td colspan="2" align="left"><input type="submit"name="process_order" value="Заказать"></td>
    </tr>
</table>
</form>


<!-- @order_received -->
Ваш заказ принят
<!-- @required_field_not_filled -->
Не заполнены обязательные поля!
<!-- @incorrect_field_value -->
Неверное значение поля %field_name%
<!-- @no_email_error -->
Не введён email
<!-- @no_basket_items -->
В вашей корзине нет товаров
