<!-- @list -->
<h3>%list_header%</h3>
<table  cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>№ заказа</th>
        <th>Дата</th>
        <th>Ф.И.О.</th>
        <th>Эл.почта</th>
        <th>Общая сумма</th>
        <th>Статус заказа</th>
    </tr>
    %rows%
</table>
%pages%
<!-- @row -->
    <tr>
        <td>%id%</td>
        <td>%date%</td>
        <td>%name%</td>
        <td>%email%</td>
        <td>%totalprice%</td>
        <td>%status%</td>
    </tr>
    <tr>
        <td colspan="6">%content%</td>
    </tr>
<!-- @list_null -->
<h3>%list_header%</h3>
<p>У вас нет оформленных заказов.</p>

<!-- @order_status_confirm --><span class="alert alert-default">%status_value%</span>
<!-- @order_status_confirmed --><span class="alert alert-info">%status_value%</span>
<!-- @order_status_payment --><span class="alert alert-info">%status_value%</span>
<!-- @order_status_shipping --><span class="alert alert-warning">%status_value%</span>
<!-- @order_status_delivered --><span class="alert alert-success">%status_value%</span>
<!-- @order_status_canceled --><span class="alert alert-danger">%status_value%</span>

<!-- ****************************************** Шаблон постраничной навигации ****************************************** -->
<!--
Секции:

@page_first - 	Заменяется переменная first в блоке @pages, в том случае, если мы находимся не на самой первой странице. Используется для формирования ссылки перехода к этой самой первой странице.
@page_backward - 	Заменяется переменная backward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница не входит в первый из них.
@page_previous - 	Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы и необходимо вывести ссылку на предыдущую страницу относительно текущей.
@page_previous_disabled - Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы, но текущая страница является первой и значит, что предыдущей страницы нет.
@page_next - Заменяется переменная next в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к следующей странице, относительно текущей.
@page_next_disabled - Заменяется переменная next в блоке @pages, в том случае, если мы находимся на самой первой странице.
@page_forward - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница в любом из них, кроме последнего.
@page_forward_disabled - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница входит в последний из них.
@page_last 	- Заменяется переменная last в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к этой самой последней странице.
@page_active - Используется для формирования переменной page_block в блоке @pages. Формируется для страницы списка товаров, на которую может перейти пользователь (то есть не для текущей страницы).
@page_passive - Используется для формирования переменной page_block в блоке @pages. Формируется для странице списка товаров, на которой сейчас находиться пользователь сайта (то есть для текущей страницы).
@page_delimeter - Используется для формирования переменной page_block в блоке @pages, Разделяет блоки @page_active и @page_passive друг от друга.
@page_null - Используется в том случае, если страниц так много, что необходимо показывать не все из них.
-->

<!-- @pages -->
		<p>
			%first%
			%backward%
			%previous%
			%pages_block%
			%next%
			%forward%
			%last%
		</p>
<!-- @page_first -->
<a href="%link%">Начало</a>
<!-- @page_backward -->
<a href="%link%">&laquo;</a>
<!-- @page_backward_disabled -->
&laquo;
<!-- @page_previous -->
<a href="%link%">&laquo;</a>
<!-- @page_previous_disabled -->
&laquo;
<!-- @page_forward -->
<a href="%link%">&raquo;</a>
<!-- @page_forward_disabled -->
&raquo;
<!-- @page_next -->
<a href="%link%">&raquo;</a>
<!-- @page_next_disabled -->
&raquo;
<!-- @page_last -->
<a href="%link%">Конец</a>
<!-- @page_active -->
<a href="%link%">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->
