<!-- @begin -->
<span class="content_header">[#global_properties_CMS#] &rarr; <span
        class="black">[#global_prop_label_redirect#]</span></span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>Настройка перенаправлений</h3>

            %info%

            %form_add%
            <hr>
                <form id="search" action="/admin/index.php?action=set_left_menu&leftmenu=redirect" method="GET">
                    <select name="search" style="width: 150px; margin: 0 5px;">
                        <option value="url"%s_url%>URL</option>
                        <option value="redirect"%s_redirect%>Перенаправление на</option>
                        <option value="code"%s_code%>Код</option>
                    </select>
                    <input type="text" name="value" value="%s_value%" style="width: 150px; margin: 0 5px;">
                    <input type="submit" value="Искать">
                </form>
            <div style="clear: both;"></div><br>
            Всего перенаправлений: %count% | <input type="submit" onclick="jspub_confirm('/admin/index.php?action=set_left_menu&leftmenu=redirect&delete_all=true','Вы уверены, что хотите удалить все перенаправления?');" value="Удалить все">
            <form action="/admin/index.php?action=set_left_menu&leftmenu=redirect" method="POST" id="form_delete">
                <table class="admin_table" style="margin-bottom:10px;">
                    <tr>
                        <th style="width: 25px"></th>
                        <th>URL</th>
                        <th>Перенаправление</th>
                        <th>Код</th>
                        <th style="width: 25px"></th>
                    </tr>
                    %list%
                </table>
                <script type="text/javascript">
                    function toggle_checkbox(name){
                        $("[type='checkbox'][name='"+name+"[]']").each(function(){
                            $(this).prop("checked", !$(this).prop("checked"));
                        });
                    }
                </script>
                <span style="border-bottom: dashed 1px #000; cursor: pointer;" onclick="toggle_checkbox('delete_redirects')">Выбрать все</span>
                <input type="submit" value="Удалить выбранные">
            </form>
            <hr>
            <br>
            <div style="text-align: center">%pages%</div>
        </div>
    </div>
</div>
                    <!-- @row -->
                    <tr>
                        <td><input type="checkbox" name="delete_redirects[]" value="%id%"></td>
                        <td><a href="%url%" target="_blank" title="%url%">%url_p%</a></td>
                        <td>%redirect_p%</td>
                        <td>%code%</td>
                        <td style="text-align: right;">
                            <span style="cursor: pointer;" onclick="jspub_confirm('redirect&delete_redirect=%id%','Подтвердите удаление перенаправления с %url%')"
                               title="[#common_delete#]">
                                <img src="/admin/templates/default/images/icon_delet.gif" alt="[#common_delete#]"/>
                            </span>
                        </td>
                    </tr>
<!-- @form_add -->
<div>
    Добавление перенаправлений:
    <span style="border-bottom: 1px dashed #000; cursor: pointer; font-weight: bold;"
          onclick="$('#redirect_add').slideToggle(500);$('#multi_add').slideUp(500);">одиночное</span> /
    <span style="border-bottom: 1px dashed #000; cursor: pointer; font-weight: bold;"
          onclick="$('#multi_add').slideToggle(500);$('#redirect_add').slideUp(500);">массовое</span>
</div>
<br>
%info_add_single%
<form action="/admin/index.php?action=set_left_menu&leftmenu=redirect&type_add=single" method="POST" id="redirect_add" style="display: %display_single_add%;">
    <table>
        <tr>
            <td>URL:</td>
            <td>
                <div style="float: left; margin: 5px 3px 0 0">%host%/</div>
                <input name="url" type="text" placeholder="index.html"></td>
        </tr>
        <tr>
            <td>Перенаправление:</td>
            <td>
                <input name="redirect" type="text" placeholder="http://site.ru/contact.html">
                <i style="margin: 8px 3px; display: inline-block;">(полный адрес, включая http://, либо относительный - /contact.html)</i>
            </td>
        </tr>
        <tr>
            <td>Код:</td>
            <td>
                <select name="code">
                    %code_select%
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right">
                <input type="submit" class="submit" value="Добавить">
            </td>
        </tr>
    </table>
</form>

%info_add_multi%
<form action="/admin/index.php?action=set_left_menu&leftmenu=redirect&type_add=multi" method="POST"
      style="display: %display_multi_add%;"
      id="multi_add">
    Для массового добавления перенаправлений вставьте в текстовое поле ниже текст следующего формата:<br>
    <strong>&lt;URL_FROM - откуда перенаправляем&gt;;&lt;URL_TO - куда перенаправляем&gt;;&lt;код
        ошибки&gt;</strong><br>
    Данный формат является форматом csv файла.
    <textarea name="redirects_list" style="width: 95%; min-height: 150px; resize: vertical; margin: 5px 0;">%m_redirects_list%</textarea>

    <div style="text-align: right">
        <input type="submit" class="submit" value="Добавить">
    </div>
</form>
<script type="text/javascript">
    $("#redirect_add, #multi_add,#search,#form_delete").on("submit", function () {
        $(this).ajaxSubmit({
            success: function (data) {
                $("#content").html(data);
            }
        });
        return false;
    });
</script>
<!-- @error-->
<div style="border-left:5px solid #c92800; padding: 5px 10px; margin: 10px 0; background: #FFF;">%mess%</div>
<!-- @success -->
<div style="border-left:5px solid #009911; padding: 5px 10px; margin: 10px 0; background: #FFF;">%mess%</div>
<!-- @page_link -->
<a href="#" onclick="jspub_click('/admin/index.php?action=set_left_menu&leftmenu=redirect%link%')">%page%</a>
<!-- @page_current -->
<span style="text-decoration: underline;">%page%</span>