<!--
Шаблон формы подписки на новости

Секции:
@form_subscrip - форма подписки
 -->

<!-- ****************************************** Шаблон формы подписки на новости ****************************************** -->

<!-- @form_subscrip -->
<p><font color="#990000">%errore%</font></p>
<form method="post" action="#">
<p>Я хочу получать на адрес своей электронной почты:<br />
<div style=" padding-left: 15px;">%pages_news%</div>
</p>
<p>Мои фамилия, имя, отчество:<br />
<input name="name" type="text" maxlength="255" size="60" value="%name%"></p>
<p>Адрес моей электронной почты:<br />
<input name="mail" type="text" maxlength="255"  size="60"  value="%mail%"></p>

      <p><input type="submit" value="Подписаться" name="run" class="content_submit"></p>
</form>

<!-- @pages_news -->
<input id="%id%" name="%name%" value="%caption%" type="checkbox" %selected%><label for="%id%"> - %caption%</label>

<!-- @errore_name -->
Ошибка в имени пользователя.<br>

<!-- @errore_email -->
Ошибка в адресе электронной почты.<br>

<!-- @exist_subscrip -->
На указанный Вами почтовый ящик рассылка уже осуществляется.<br />

<!-- @errore_subscribe -->
Ошибка! Не удалось отправить письмо с подтверждением подписки.<br>

<!-- @not_news -->
Необходимо отметить хотя бы одну новостную группу.<br>

<!-- @letter_confirm -->
Вами была заполнена форма подписки на новостные ленты сайта <b>%site_name%</b><br><br>
Вы подписались на разделы: <br>
%news%
<br><br>Для активации подписки перейдите по приведенной ссылке:<a href="%link%">Перейти</a>

<!-- @letter_confirm_news_one -->
&nbsp;&nbsp;&nbsp;>&nbsp;<b>%name%</b><br>

<!-- @sucсess_subscribe -->
<b>Спасибо за подписку.</b><br><br>
На указанный Вами электронный адрес было отправленно письмо с подтверждением подписки.<br>
Для активации подписки необходимо перейти по ссылке, указанной в письме.

<!-- @activate_faild -->
Не обнаружен пользователь с таким кодом активации.<br><br>
Вам необходимо провести подписку на новости. Это можно сделать, перейдя по следующей ссылке: <a href="%link%">Форма подписки</a>

<!-- @activate_success -->
Ваша подписка была успешно активирована.<br>Спасибо, за использование нашего сервиса.