<!-- @content --><h3>%header%</h3>
                            <ul id="tags-list" class="list-group">
                                %rows%
                            </ul>
<!-- @rows --><li><a href="%url%">%name% %counter%</a></li>
<!-- @rows_active --><li class="active"><a href="%url%">%name%%counter%</a></li>
<!-- @no_data -->
<!-- @counter --> (%count%)<!-- @counter_null --> (0)